body {
	margin: unset;
	font-family: Comfortaa;
	background-color: black;
	color: white;

	--lost-color: #fff898;
}

#bpm {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	padding: 6px 14px;
	box-sizing: border-box;
    border-radius: 7px;
	background-color: #212121;
}

#bpm > .top {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

#bpm > .top > #heart {
	height: 18px;
	animation-name: heartbeat;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

#bpm.lost > .top > #heart {
	animation-name: none!important;
	filter:
		brightness(0)
		saturate(100%)
		invert(87%)
		sepia(43%)
		saturate(1930%)
		hue-rotate(311deg)
		brightness(141%)
		contrast(114%);
}

@keyframes heartbeat {
	0%, 49.99999% {
		transform: scale(1);
		filter: brightness(1);
		animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
	}

	49.99999% {
		transform: scale(1.4);
		filter: brightness(1.5);
		animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
	}

	50% {
		transform: scale(1.4);
		filter: brightness(1.5);
		animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
	}

	100% {
		transform: scale(1);
		filter: brightness(1);
		animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
	}
}

#bpm > .top > #value {
	margin-top: 3px;
	margin-left: 16px;
	font-size: 26px;
}

#bpm.lost > .top > #value {
    padding: 5px 10px 3px;
	border: 2px solid var(--lost-color);
	font-size: 15px;
	color: var(--lost-color);
}

#bpm > .top > .records {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-end;
}

#bpm > .top > .records > .col {
	display: flex;
	flex-direction: column;
	margin-left: 10px;

	text-align: right;
	font-size: 12px;
	font-weight: 900;
	color: rgb(170, 170, 170);
}

#recordMin {
	color: rgb(146, 255, 131);
}

#recordMax {
	color: rgb(255, 56, 105);
}

#graph {
	position: relative;
	flex-grow: 1;
	
	--padd: 30px;
	--width: 6px;
	--space: 2px;

	margin-right: var(--padd);
	margin-bottom: var(--padd);
}

#graph > .lostOverlay {
	position: absolute;
	display: block;

	top: -10px;
	left: 0;
	bottom: calc(0px - var(--padd));
	right: calc(0px - var(--padd));
	background-color: rgba(33, 33, 33, 0.8);
	visibility: hidden;
	z-index: 1;
}

#graph > .lostOverlay::before {
	content: "";
	position: absolute;
	display: block;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	border: 2px solid var(--lost-color);

	background: 
		linear-gradient(to top left,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) calc(50% - 1px),
			var(--lost-color) calc(50% - 0.9999px),
			var(--lost-color) calc(50% + 0.9999px),
			rgba(0, 0, 0, 0) calc(50% + 1px),
			rgba(0, 0, 0, 0) 100%),
		linear-gradient(to top right,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) calc(50% - 1px),
			var(--lost-color) calc(50% - 0.9999px),
			var(--lost-color) calc(50% + 0.9999px),
			rgba(0, 0, 0, 0) calc(50% + 1px),
			rgba(0, 0, 0, 0) 100%);
}

#bpm.lost > #graph > .lostOverlay {
	visibility: visible;
}

#graph > .lines {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;

	width: 100%;
	height: 100%;
	overflow: hidden;
}

#graph > .lines::before,
#graph > .line {
	content: "";
	position: absolute;
	display: block;

	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: rgba(175, 175, 175, 0.3);
	transition: all 0.2s ease;
}

#graph > .maxLine {
	bottom: 100%;
}

#graph > .realMaxLine {
	background-color: transparent;
	height: 0;
	border-top: 2px dashed rgba(255, 64, 96, 0.5);
}

#graph > .lines > span {
	position: relative;
	flex-shrink: 0;

	width: 0;
	margin-left: 0;
	min-height: 2px;
	background-color: rgb(255, 56, 105);
	transition: all 0.2s ease;
}

#graph > .lines > span[data-color="gray"] {
	background-color: rgba(170, 170, 170, 0.6);
}

#graph > .lines > span[data-color="green"] {
	background-color: rgb(146, 255, 131);
}

#graph > .lines > span.pad {
	padding-top: 2px;
}

#graph > .lines > span.show {
	width: var(--width);
	margin-left: var(--space);
}

#graph > .values {
	position: absolute;
	bottom: 0;
	right: calc(0px - var(--padd));
	width: var(--padd);
	height: 100%;

	text-align: right;
}

#graph > .values > span {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(50%);
	font-size: 11px;
	transition: all 0.2s ease;
}

#graph > .values > .max,
#graph > .values > .min {
	color: rgba(128, 128, 128, 0.8);
}

#graph > .values > .max {
	bottom: 100%;
}

#graph > .values > .current {
	right: -4px;
	padding: 2px 4px;
	min-width: 20px;
	font-weight: bold;
	background-color: white;
	color: black;
}

#bpm.lost > #graph > .values > .current {
	display: none;
}