body {
    margin: unset;
    font-family: comfortaa;
    color: white;
    background-color: black;
    user-select: none;
}

:root {
    /* FROM OSC PACKAGE */
	--osc-color-whitesmoke:		#f6f6f6;
	--osc-color-pink:			#ff66aa;
	--osc-color-green:			#88b400;
	--osc-color-blue:			#44aadd;
	--osc-color-yellow:			#f6c21c;
	--osc-color-orange:			#ffa502;
	--osc-color-red:			#dd2d44;
	--osc-color-brown:			#3f313d;
	--osc-color-gray:			#485e74;
	--osc-color-dark:			#1E1E1E;
	--osc-color-purple:			#593790;
	--osc-color-darkGreen:		#0c4207;
	--osc-color-darkBlue:		#053242;
	--osc-color-darkYellow:		#444304;
	--osc-color-darkRed:		#440505;
	--osc-color-navyBlue:		#333D79;
}

#app {
    position: relative;
    display: flex;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
}

#app > .main {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
}

#app > .main .group {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 100vh;
    overflow: hidden;

    transition: max-height 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

#app > .main .group.hide {
    max-height: 0;
}

#app > .main .group.row {
    flex-direction: row;
}

#app > .main .group > .item {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    align-items: baseline;

    margin: 5px 10px 5px 0;
    padding: 6px 14px;
    box-sizing: border-box;
    border-radius: 7px;
    visibility: hidden;

    background-color: #212121;
    transition: background-color 0.3s ease-out;
}

#app > .main .group > .item > span {
    position: relative;
    display: block;
}

#app > .main .group > .item.whitesmoke {
    background-color: rgba(238, 238, 238, 0.8);
}

#app > .main .group > .item.whitesmoke > .value {
    color: rgb(28, 28, 28);
}

#app > .main .group > .item.blue {
    background-color: rgba(68, 170, 221, 0.8);
}

#app > .main .group > .item.green {
    background-color: rgba(135, 180, 0, 0.8);
}

#app > .main .group > .item.yellow {
    background-color: rgba(246, 195, 28, 0.7);
}

#app > .main .group > .item.red {
    background-color: rgba(221, 45, 69, 0.85);
}

#app > .main .group > .item > .label {
    font-size: 14px;
    margin-bottom: 6px;
}

#app > .main .group > .item > .value {
    width: 100%;
    font-size: 24px;
    font-weight: 900;
}

#app > .main .group > .item > .progBar {
    position: relative;
    display: block;
    width: 100%;
    height: 10px;

    background-color: rgb(94, 94, 94);
    overflow: hidden;
}

#app > .main .group > .item > .progBar.hide:not(.noHide) {
    display: none;
}

#app > .main .group > .item > .progBar.hide {
    margin-bottom: 10px;
}

#app > .main .group > .item > .progBar > .bar {
    position: absolute;
    display: block;
    left: 0;
    height: 100%;

    background-color: white;
    transition: width 0.1s ease-in-out;
}

#app > .main .group > .item > .progBar > .bar.green {
    background-color: rgb(65, 240, 109);
}

#app > .main .group > .item > .progBar > .bar.orange {
    background-color: rgb(243, 152, 66);
}

#app > .main .group > .item > .progBar > .bar.blue {
    background-color: rgb(131, 216, 255);
}

#app > .main .group > .item > .progBar > .bar.purple {
    background-color: rgb(219, 146, 255);
}

#app > .main .group > .item > .progBar > .bar.yellow {
    background-color: rgb(255, 238, 110);
}

#app > .main .group > .item > .deltaBar {
    position: relative;
    display: block;
    width: 100%;
    height: 6px;
    margin-bottom: 16px;

    background-color: rgb(94, 94, 94);
}

#app > .main .group > .item > .deltaBar.hide {
    display: none;
}

#app > .main .group > .item > .deltaBar::before,
#app > .main .group > .item > .deltaBar::after,
#app > .main .group > .item > .deltaBar > .left,
#app > .main .group > .item > .deltaBar > .right {
    position: absolute;
    display: block;
    right: 50%;
    height: 100%;
    background-color: rgb(255, 63, 102);

    transition: width 0.3s ease-in-out;
}

#app > .main .group > .item > .deltaBar.t15 > .left,
#app > .main .group > .item > .deltaBar.t15 > .right {
    transition: width 0.15s ease-in-out;
}

#app > .main .group > .item > .deltaBar::before,
#app > .main .group > .item > .deltaBar::after {
    content: "";
    width: 50%;
}

#app > .main .group > .item > .deltaBar::after,
#app > .main .group > .item > .deltaBar > .right {
    right: unset;
    left: 50%;

    background-color: rgb(151, 255, 91);
}

#app > .main .group > .item > .deltaBar > .left,
#app > .main .group > .item > .deltaBar > .right {
    height: 300%;
}

#app > .main .group > .item.big > .value {
    font-size: 44px;
}

#app > .main .group > .item.center > .value {
    text-align: center;
}

#app > .main .group > .item > .right {
    position: absolute;
    right: 14px;
    bottom: 6px;
}

#app > .main .space {
    position: relative;
    display: block;

    width: 100%;
    height: 5px;
}

#app > .main .space.large {
    height: 15px;
}

/** Custom Item Style **/

#app > .main .group > .item.grade > .value {
    filter: brightness(1.4);
    transition: color 0.3s ease-out;
}

#app > .main .group > .item.grade > .value.whitesmoke {
    color: var(--osc-color-whitesmoke);
}

#app > .main .group > .item.grade > .value.yellow {
    color: var(--osc-color-yellow);
}

#app > .main .group > .item.grade > .value.green {
    color: var(--osc-color-green);
}

#app > .main .group > .item.grade > .value.blue {
    color: var(--osc-color-blue);
}

#app > .main .group > .item.grade > .value.red {
    color: var(--osc-color-red);
}

#app > .main .group > .item.grade > .value.gray {
    color: rgb(56, 56, 56);
}

#app > .main .group.hits.show {
    max-height: 530px;
}

#app > .main .group.map.show {
    max-height: 260px;
}

#app > .main .group.play.show {
    max-height: 160px;
}

#unstableRate > .value.value.value.value {
    position: absolute;
    right: 14px;
    width: fit-content;
}

/** ERROR CHART */

#hitErrorChart {
    position: relative;
    display: block;
    height: 70px;
    width: 100%;

    margin-bottom: 20px;
}

#hitErrorChart > .bars {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#hitErrorChart > .bars > div {
    position: absolute;
    bottom: 0;
    min-height: 1px;
    background-color: rgb(255, 255, 255);
    transition: height 0.3s ease-out;
}

#hitErrorChart > .bars > div[data-color="blue"] {
    background-color: rgb(174, 223, 255);
}

#hitErrorChart > .bars > div[data-color="green"] {
    background-color: rgb(129, 255, 129);
}

#hitErrorChart > .bars > div[data-color="yellow"] {
    background-color: rgb(255, 244, 144);
}

#hitErrorChart > .hints {
    position: absolute;
    width: 100%;
    bottom: -5px;
}

#hitErrorChart > .hints > span {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    font-size: 12px;
    z-index: 5;
}

#hitErrorChart > .hints > span[data-level="1"] {
    opacity: 0.8;
    z-index: 4;
}

#hitErrorChart > .hints > span[data-level="2"] {
    opacity: 0.6;
    z-index: 3;
}

#hitErrorChart > .hints > span[data-level="3"] {
    opacity: 0.4;
    z-index: 2;
}

#hitErrorChart > .hints > span[data-level="4"] {
    opacity: 0.2;
    z-index: 1;
}

#hitErrorChart > .debugs {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

#hitErrorChart > .debugs > span {
    position: absolute;
}

#hitErrorChart > .debugs > .ms,
#hitErrorChart > .debugs > .delta,
#hitErrorChart > .debugs > .updates,
#hitErrorChart > .debugs > .index {
    left: 0;
    top: -2px;
}

#hitErrorChart > .debugs > .ms > span {
    margin: 0 2px;
}

#hitErrorChart > .debugs > .ms > .bl {
    margin-left: 0;
    color: rgb(174, 223, 255);
}

#hitErrorChart > .debugs > .ms > .gr {
    color: rgb(129, 255, 129);
}

#hitErrorChart > .debugs > .ms > .ye {
    color: rgb(255, 244, 144);
}

#hitErrorChart > .debugs > .delta {
    top: 12px;
}

#hitErrorChart > .debugs > .updates {
    top: 26px;
}

#hitErrorChart > .debugs > .index {
    top: 40px;
}

#hitErrorChart > .debugs > .step,
#hitErrorChart > .debugs > .max {
    right: 0;
    top: 4px;
}

#hitErrorChart > .debugs > .max {
    top: 18px;
}

/** SHOW ANIM */

#app > .main:not(.NotRunning) .group > .item {
    animation: blink-noOp 0.2s linear 4.6s;
    animation-fill-mode: forwards;
}

#app > .main:not(.NotRunning) .group > .item:nth-child(2) {
    animation: blink-OpBmp 0.2s linear 4.75s;
    animation-fill-mode: forwards;
}

#app > .main:not(.NotRunning) .group > .item:nth-child(3) {
    animation: blink-OpBmp 0.2s linear 4.9s;
    animation-fill-mode: forwards;
}

/** =================== ANIMATIONS =================== **/

@keyframes blink-noOp {
    0%,
    25%,
    50%,
    60%,
    100% {
        visibility: visible;
    }

    30%,
    40%,
    70%,
    90% {
        visibility: hidden;
    }
}

@keyframes blink-OpBmp {
    0%,
    25%,
    100% {
        visibility: visible;
    }

    50% {
        opacity: 0.4;
        visibility: visible;
    }

    60% {
        opacity: 1;
        visibility: visible;
    }

    30%,
    40%,
    70%,
    90% {
        visibility: hidden;
    }
}