body {
    margin: unset;
    padding: unset;
    font-family: Comfortaa;
    background-color: black;
}

#app {
    position: relative;
    overflow: hidden;
}

#app > .main {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 200px;
    background-color: transparent;

    transition: unset;
    visibility: hidden;
    overflow: hidden;
}

#app > .main p,
#app > .main h1 {
    margin: unset;
    padding: unset;
}

#app > .main > .box {
    width: 66%;
    padding: 10px 25px;
    border-radius: 200px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#app > .main .inner {
    display: flex;
}

#app > .main .outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 17%;
    padding: 0px 2%;
    box-sizing: border-box;
    
    font-size: 15px;
    color: #444;
}

#app > .main .right {
    text-align: right;
}

#app > .main .title {
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#app > .main .inner {
    flex-direction: column;
    color: white;
    filter: drop-shadow(0px 0px 5px #000a);
}

#app > .main .mapinfo {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 4px;
    font-size: 14px;
}

#app > .main .mapper {
    padding-right: 15px;
}

[v-cloak] { display: none; }

#app > .main .hide {
    display: none;
}

#app > .main > .outer > p {
    color: white;
}

#app > .main::before {
    content: "./WAIT screen init";
    position: absolute;
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Bender;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;

    transition: unset;
    visibility: visible;
}

/** =================== ANIMATIONS =================== **/

#app > .main,
#app > .main > .outer.left,
#app > .main > .outer.right,
#app > .main > .box {
    visibility: hidden;
}

#app > .main:not(.NotRunning) {
    visibility: visible;
    transition: background-color 0.2s ease-out 4s;
    background-color: rgb(33, 33, 33);
}

#app > .main:not(.NotRunning)::before {
    transition: visibility 0s linear 4.2s;
    visibility: hidden;
}

#app > .main:not(.NotRunning) > .outer.left {
    animation: blink-noOp 0.2s linear 4.2s;
    animation-fill-mode: forwards;
}

#app > .main:not(.NotRunning) > .outer.right {
    animation: blink-noOp 0.2s linear 4.4s;
    animation-fill-mode: forwards;
}

#app > .main:not(.NotRunning) > .box {
    animation: blink-OpBmp 0.2s linear 4.3s;
    animation-fill-mode: forwards;
}

@keyframes blink-noOp {
    0%,
    25%,
    50%,
    60%,
    100% {
        visibility: visible;
    }

    30%,
    40%,
    70%,
    90% {
        visibility: hidden;
    }
}

@keyframes blink-OpBmp {
    0%,
    25%,
    100% {
        visibility: visible;
    }

    50% {
        opacity: 0.4;
        visibility: visible;
    }

    60% {
        opacity: 1;
        visibility: visible;
    }

    30%,
    40%,
    70%,
    90% {
        visibility: hidden;
    }
}