body {
	background-color: #111111;
	overflow: hidden;
}

body .circle {
	position: absolute;
	display: block;

	top: -220px;
	left: -100px;
	opacity: 0.3;

	animation: spin 240s linear 0s infinite;
}

body .circle.stroke {
	top: -1000px;
	left: -1200px;
	width: 3000px;
	height: 3000px;

	opacity: 0.5;
	animation-duration: 160s;
}

body > .wrapper {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 2000px;
	height: 2000px;

	overflow: hidden;
}

body > .wrapper.s2 {
	top: -400px;
	left: 100px;
	width: 840px;
	height: 1640px;
}

body > .wrapper > .circle {
	top: 20px;
	left: 20px;
	width: 1600px;
	height: 1600px;
	animation-duration: 120s;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}