<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Plays</title>
		<link href="./main.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet" />

		<!-- This is a development version of Vue.js -->
		<script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
		<script src="/lib/reconnecting-websocket.js"></script>
		<script src="/lib/consts.js"></script>
		<script src="/lib/utils.js"></script>
	</head>

	<body>
		<div id="app" :class="currentStatus" v-cloak>
			<div class="item big">
				<span class="label">pp</span>
				<span class="value">{{ppValue}}</span>

				<span class="progBar noHide" :class="showIfInPlayingField">
					<span id="ppBarIfRestFC" class="bar purple"></span>
					<span id="ppBarCurrent" class="bar yellow"></span>
				</span>

				<span class="deltaBar" :class="showIfInPlayingField">
					<span id="ppBarLeft" class="left"></span>
					<span id="ppBarRight" class="right"></span>
					<span class="label c">0</span>
					<span class="label l">-5</span>
					<span class="label r">+5</span>
				</span>

				<span v-if="isPlayingOrWatching && !isMania">{{getToken('ppIfRestFced', 2)}}pp nếu SS đoạn còn lại</span>
				<span v-else>
					<template v-if="isMania">{{getToken('mania_m1_000_000PP', 2)}}pp nếu SS</template>
					<template v-else>{{getToken('osu_mSSPP', 2)}}pp nếu SS</template>
				</span>
			</div>
		</div>
		<script src="./main.js" type="module"></script>
	</body>
</html>
